.background {
    -fx-background-color: #f4f4f4;
}

.title-label {
    -fx-font-size: 24px;
    -fx-font-family: 'Book Antiqua Bold Italic';
}

.normal-label {
    -fx-font-size: 14px;
    -fx-font-family: 'Book Antiqua Bold Italic';
}

.little-label {
    -fx-font-size: 12px;
    -fx-font-family: 'Book Antiqua Bold Italic';
}

.primary-button {
    -fx-background-color: #a6f84b;
    -fx-font-family: 'Book Antiqua Bold Italic';
    -fx-min-width: 200;
    -fx-min-height: 40;
    -fx-font-size: 14px;
    -fx-prefHeight: 40;
    -fx-prefWidth: 200;
    -fx-text-fill: black;
    -fx-background-radius: 5px;
}

.primary-button:hover {
    -fx-background-color: #1a7955;
}
.popup{
    -fx-background-color: #a2ecbb;
    -fx-border-color:  #2E8B57;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-background-radius: 5px;
    -fx-pref-width: 500px;
    -fx-pref-height: 300px;
    -fx-alignment: center;
}
.selected-card {
    -fx-border-color: #a2ecbb;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-effect: dropshadow(three-pass-box, rgb(26, 121, 85), 10, 0, 0, 0);
}

.placeholder {
    -fx-opacity: 0.5;
    -fx-background-color: gray;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-style: dashed;
}

.scene-dimensions {
    -fx-pref-width: 800px;
    -fx-pref-height: 800px;
}

.scene-background {
    -fx-background-color: #f8f1c9;
}

.corner-image {
    -fx-image: url("Images/CN_Decoration1.jpg");
    -fx-preserve-ratio: true;
    -fx-fit-height: 150px;
    -fx-fit-width: 200px;
}

.inputs-width {
    -fx-min-width: 200;
    -fx-prefWidth: 200;
}

.choice-box-popup .list-cell {
    min-width: 200px;
}