.background {
    -fx-background-color: #f4f4f4;
}

.title-label {
    -fx-font-size: 20px;
    -fx-font-family: 'Book Antiqua';
}

.normal-label {
    -fx-font-size: 14px;
    -fx-font-family: 'Book Antiqua';
}

.primary-button {
    -fx-background-color: #a2ecbb;
    -fx-text-fill: white;
    -fx-font-family: 'Book Antiqua';
    -fx-font-size: 14px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.primary-button:hover {
    -fx-background-color: #005fa3;
}

.selected-card {
    -fx-border-color: #00d3ff;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 255, 0.8), 10, 0, 0, 0);
}

.placeholder {
    -fx-opacity: 0.5;
    -fx-background-color: gray;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-style: dashed;
}

